html {
	height: 100vh;
	background-color: #ffffff;
}
body {
	height: 100%;
	/* width: 35%; */
	/* background: linear-gradient(90deg,  50%, #37445b 50%); */
}

.height_po {
	max-height: 200%;
}
.slice {
	height: calc(100% + 130px);

	width: 535px;
	background-color: #37445b;
}
.navbar {
	position: fixed;
	top: 0;
	overflow: hidden;
}
